*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', monospace;
    /* background: #2B2D42; */
    background: url(../assets/sky.jpg);
    background-position: center;
    background-size: cover;
}

:root{
    --cielo: #48CAE4;
    --blanco: #FFFFFF;
    --azul: #14213d;
    --negroMate: #212529;
}

.go-top{
    position: fixed;
    bottom: 20px;
    right: -100%;
    height: 50px;
    width: 50px;
    border: 2px solid var(--azul);
    background: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--cielo);
    background: var(--negroMate);
}

.go-top img{
    width: 30px;
    height: 30px;
}

.go-top img:hover{
    filter: invert(100%);
}

.header{
    width: 100%;
    height: 115px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 999;

    /* background: #48cae44b; */
    padding-bottom: 20px;
}



.header__name img{
    width: 100px;
    height: 100px;
    margin: 20px 0px 0px 5px;
}

.header__name{
    display: flex;
    color: var(--blanco);
    align-items: center;
}

.header__name:hover{
    cursor: pointer;
}

.header__name h1{
    font-size: 3rem;
    margin-left: 20px;
}

.header__menu li{
    margin-right: 20px;
    list-style: none;
}

.header__menu a{
    text-decoration: none;
    color: var(--blanco);
    background: #00000069;
    padding: 3px 15px;
    border-radius: 3px;
    font-size: 1.5rem;
    margin: 10px;
}

.header__menu a:hover{
    text-decoration: underline;
    background: var(--azul);
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.header__login img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
    cursor: pointer;
}

.header__login:hover{
    margin: 50px 0px 0px 0px;
}

.header__login--logo{
    display: flex;
    margin-right: 20px;
}

.header__login--logo a{
    color: var(--blanco);
    margin-top: 5px;
    font-size: 1.2rem;
    text-decoration: none;
}

.header__login--logo a:hover{
    color: var(--cielo);
    text-decoration: underline;
}



.header__login ul{
    display: none;
}

.header__login:hover ul, ul:hover{
    display: block;
}

.header__login--user li{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header__login--user li:hover{
    display: flex;
}

.header__login--user li a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.header__login--user li a:hover{
    text-decoration: underline;
    color: var(--cielo);
}

/* mediaquery */
@media only screen and (min-width: 800px) and (max-width: 1200px){
    .header__menu a{
        font-size: 15px;
    }

    .header__menu a:hover{
        font-size: 18px;
    }

    .header__name h1{
        font-size: 2.3rem;
    }

    .header__name img{
        width: 60px;
        height: 60px;
    }

    .header__login--logo img{
        width:25px ;
        height: 25px;
    }

    .header__login--logo a{
        font-size: 17px;
    }

    .header__login--user a{
        font-size: 17px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    .header > div{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .header__menu{
        width: 470px;
    }

    .header__name h1{
        font-size: 2rem;
    }

    .header__name img{
        width: 50px;
        height: 50px;
    }

    .header__menu a{
        font-size: 17px;
    }

    .header__login--logo img{
        width: 23px;
        height: 23px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape){
    .header > div{
        display: flex;
        flex-direction: column;
    }

    .header{
        height: 80px;
    }

    .header h1{
        font-size: 1.8rem;
    }

    .header__name img{
        width: 55px;
        height: 55px;
    }

    .header__menu{
        width: 470px;
        margin: 0px;
    }

    .header__menu a{
        font-size: 15px;
    }

    .header__login--logo img{
        width: 18px;
        height: 18px;
    }

    .header__login a{
        font-size: 15px;
        margin: 0px;
    }
}

@media only screen and (min-width:300px) and (max-width: 600px){
    .header h1{
        font-size: 2.1rem;
    }
    .header__name img{
        width: 40px;
        height: 40px;
    }
    .header__menu{
        margin-left: 15px;
    }

    .header__menu a{
        font-size: 15px;
        padding: 1px 2px;
        margin: 0px 0px 0px 5px;
    }

    .header__login--logo img{
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .header__login--logo{
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 0px;
    }

    .header__login a{
        font-size: 15px;
    }
}



/* aside */
.aside{
    margin: 0px;
    width: 100%;
}

.aside__covid19{
    margin:60px  auto;
    width: 90%;
    height: 40vh;
    background: url(../assets/covid1920.jpg);
    text-align: center;
    padding-top: 20px;
}

.aside__covid19 ul{
    display: flex;
    justify-content: space-evenly;
}

.aside__covid19 h2{
    color: #FFFFFF;
    font-size: 2.5rem;
}

.aside__covid19 p{
    font-size: 1.3rem;
    padding: 0px 50px;
    color: #FFFFFF;
}

.aside__covid19 img{
    width: 400px;
    padding-top: 35px;
}

.aside__covid19 h5{
    font-size: 2rem;
}

.aside__covid19 li{
    color: #FFFFFF;
    list-style: none;
    margin-top: 70px;
}


/* cascadas de coche corral */
.aside__name{
    width: 70%;
    height: 60vh;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;

    background: #660708;

    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;

}

.aside__name:hover{
    -webkit-transform: scale(1);
            transform: scale(1.04);
    opacity: 1;
}
.aside__name img{
    width: 400px;
    padding: 40px 10px 0px 10px;

    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
}

.aside__name img:hover{
    -webkit-transform: scale(1);
            transform: scale(1.04);
    opacity: 1;
}

.aside__name h4{
    font-size: 2rem;
}

.aside__name p{
    font-size: 1.2rem;
    padding: 10px 100px;
}

.aside__name .catarataPonte{
    width: 300px;
}

.aside__name--galeria4 img:first-child{
    width: 315px;
}

.aside__name--galeria4 img:nth-child(2){
    width: 280px;
}

.aside__name--galeria4 img:last-child{
    width: 280px;
}




@media only screen and (min-width: 800px) and (max-width: 1200px){
    .aside__covid19{
        padding-top: 50px;
    }
    .aside__covid19 p{
        font-size: 18px;
    }

    .aside__covid19 h2{
        font-size: 30px;
    }

    .aside__covid19 img{
        width: 300px;
    }

    .aside__name{
        height: 50vh;
    }

    .aside__name img{
        width: 200px;
    }

    .aside__name p{
        font-size: 18px;
    }

    .aside__name h4{
        font-size: 30px;
    }

    .aside__name--galeria2 img:nth-child(2){
        width: 200px;
        height: 200px;
    }

    .aside__name--galeria4 img:first-child{
        width: 200px;
    }

    .aside__name--galeria4 img:nth-child(2){
        width: 200px;
    }

    .aside__name--galeria4 img:last-child{
        width: 200px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    .aside__covid19 h2{
        font-size: 1.8rem;
    }

    .aside__covid19 h5{
        font-size: 1.5rem;
    }

    .aside__covid19 p{
        font-size: 18px;
    }

    .aside__covid19 img{
        width: 250px;
        margin: 20px 0px 0px 30px;
    }

    .aside__name{
        height: 75vh;
    }

    .aside__name img{
        width: 220px;
    }

    .aside__name

    .aside__name--galeria2 img:nth-child(2){
        width: 200px;
        height: 250px;
    }

    .aside__name--galeria4 img{
        padding: 0;
    }

    .aside__name--galeria4 img:first-child{
        width: 150px;
    }

    .aside__name--galeria4 img:nth-child(2){
        width: 150px;
        height: 200px;
    }

    .aside__name--galeria4 img:last-child{
        width: 180px;
        height: 200px;
    }

    .aside__name--galeria5 img{
        width: 220px;
    }
}


@media only screen and (min-width: 300px) and (max-width: 600px){
    .aside__covid19{
        height: 75vh;
    }

    .aside__covid19 ul{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .aside__covid19 h2{
        font-size: 1.2rem;
    }

    .aside__covid19 h5{
        font-size: 1.1rem;
    }

    .aside__covid19 p{
        font-size: 15px;
    }

    .aside__covid19 img{
        width: 270px;
        margin: auto;
    }

    .aside__name{
        height: 95vh;
        width: 90%;
    }

    .aside__name img{
        width: 220px;
        padding: 10px 0px;
    }

    .aside__name h4{
        font-size: 1.6rem;
    }

    .aside__name p{
        font-size: 1rem;
        padding: 10px 10px;
    }

    .aside__name--galeria2 img:nth-child(2){
        width: 200px;
        height: 250px;
    }

    .aside__name--galeria4 img{
        padding: 0;
    }

    .aside__name--galeria4 img:first-child{
        width: 150px;
    }

    .aside__name--galeria4 img:nth-child(2){
        width: 150px;
        height: 200px;
    }

    .aside__name--galeria4 img:last-child{
        width: 180px;
        height: 200px;
    }

    .aside__name--galeria5 img{
        width: 220px;
    }
}


@media only screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape){
    .aside__covid19{
        height: 100vh;
    }

    .aside__name{
        height: 150vh;
        width: 90%;
    }

    .aside__name h4{
        font-size: 1.5rem;
    }
    .aside__name p{
        font-size: 1rem;
    }
}


/* footer */
.footer{
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.form{
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding: 30px 60px 60px 60px;
    order: 6;
}

.footer h2{
    color: var(--azul);
    text-align: center;
    font-size: 2rem;
}


.form__input{
    width: 100%;
    padding: 7px;
    margin: 9px 0px;
    border: none;
    border-bottom: 3px solid var(--azul);
    background: #fff;
    outline: none;
}

.form__input::placeholder{
    color: #000;
    font-weight: bold;
}


.form textarea {
    min-height: 100px;
    resize: none;
}

.form-img{
    flex: 1;
    display: flex;
    order: 2;
}

.img-container{
    width: 200px;
    margin: auto;

}


.form-img img{
    width: 100%;
    order: 1;
}

.form button{
    background-color: var(--azul);
    color: var(--blanco);
    border-bottom: none;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}

.form button:hover{
    background-color: #74d;
    cursor: pointer;
    color: var(--blanco);
}

.form button:focus{
    background: #54d;
}

.form button:active{
    background: linear-gradient(to bottom, #63d, #94d);
}

.footer__soporte{
    color: var(--blanco);
    width: 100%;
    height: 40vh;
    display: flex;
}

.footer__soporte ul{
    margin: auto;
}

.footer__soporte li{
    list-style: none;
}

.footer__soporte h4{
    font-size: 1.5rem;
}

.footer__soporte p{
    font-size: 18px;
    margin-top: 10px;
}

.footer__soporte p:hover{
    color: var(--negroMate);
    cursor: pointer;
}

.footer__copyright{
    width: 100%;
    height: 6vh;
    color: var(--blanco);
    padding: 5px 0px 5px 50px;
}

.footer__copyright h3{
    font-size: 25px;
}


.footer__soporte hr{
    color: var(--azul);
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    .footer img{
        width: 150px;
        margin-left: 60px;
    }

    .footer__soporte{
        padding: 0px 30px;
    }

    .footer__copyright{
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 300px) and (max-width: 600px){
    .footer h2{
        font-size: 1.8rem;
    }

    .footer__soporte{
        padding-left: 50px;
    }

    .footer__soporte p{
        font-size: 15px;
    }

    .footer__soporte h4{
        font-size: 1.2rem;
    }

    .footer__soporte hr{
        width: 70%;
    }

    .footer__copyright{
        margin-bottom: 20px;
    }

    .footer__copyright h3{
        font-size: 1.2rem;
    }

    .footer__copyright p{
        font-size: 12px;
    }

    .form{
        margin: 0px 0px 0px 0px;
    }
}